@model GameGenie.Models.Profile
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Rock Paper Scissor Game</title>
    <link rel="stylesheet" href="~/Content/RPS.css">
</head>
<body>
    @{ 
        var us = ViewData.Model;
    }
    <header>
        <h1>Rock Paper Scissor Hey,@us.Name</h1>
    </header>
    <div class="score_board">
        <div id="user_lable" class="badge">user</div>
        <div id="computer_lable" class="badge">comp</div>
        <span id="user_score">0</span>:<span id="computer_score">0</span>
    </div>

    <div class="result">
        <p>Paper covers rock. You win</p>
    </div>

    <div class="choices">
        <div class="choice" id="r">
            <img src="~/Images/RPS/icons8-hand-rock-40.png" alt="rock">
        </div>

        <div class="choices">
            <div class="choice" id="p">
                <img src="~/Images/RPS/icons8-hand-48.png" alt="paper">
            </div>

            <div class="choices">
                <div class="choice" id="s">
                    <img src="~/Images/RPS/icons8-hand-scissors-48.png" alt="scissors">
                </div>
            </div>
        </div>
    </div>
    <button onclick="update()" class="butn">@Html.ActionLink("Quit","ViewPage",us)</button>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        let userScore = 0;
        let computerScore = 0;
        const userScore_span = document.getElementById("user_score");
        const computerScore_span = document.getElementById("computer_score");
        const scoreBoard_div = document.querySelector(".score_board");
        const result_p = document.querySelector(".result > p");
        const rock_div = document.getElementById("r");
        const paper_div = document.getElementById("p");
        const scissor_div = document.getElementById("s");

        function getComputerChoice() {
            const choices = ['r', 'p', 's'];
            const randomNumber = (Math.floor(Math.random() * 3));
            return choices[randomNumber];
        }

        function convertToWord(letter) {
            if (letter === "r") return "Rock ";
            if (letter === "p") return "Paper ";
            return "Scissors ";
        }

        function win(userChoice, computerChoice) {
            userScore++;
            userScore_span.innerHTML = userScore;
            computerScore_span.innerHTML = computerScore;
            result_p.innerHTML = convertToWord(userChoice) + " " + " beats " + convertToWord(computerChoice) + "You Win";
        }

        function lose(userChoice, computerChoice) {
            computerScore++;
            userScore_span.innerHTML = userScore;
            computerScore_span.innerHTML = computerScore;
            result_p.innerHTML = convertToWord(userChoice) + " loses " + convertToWord(computerChoice) + "You Lose...";

        }

        function draw(userChoice, computerChoice) {
            userScore_span.innerHTML = userScore;
            computerScore_span.innerHTML = computerScore;
            result_p.innerHTML = convertToWord(userChoice) + " equals " + convertToWord(computerChoice) + "You Lost";
        }


        function game(userChoice) {
            const computerChoice = getComputerChoice();
            switch (userChoice + computerChoice) {
                case "rs":
                case "pr":
                case "sp":
                    win(userChoice, computerChoice);
                    break;

                case "rp":
                case "ps":
                case "sr":
                    lose(userChoice, computerChoice);
                    break;

                case "rr":
                case "pp":
                case "ss":
                    draw(userChoice, computerChoice);
                    break;
            }
        }

        function main() {

            rock_div.addEventListener('click', function () {
                game("r");
            })

            paper_div.addEventListener('click', function () {
                game("p");
            })

            scissor_div.addEventListener('click', function () {
                game("s");
            })

        }
        function update() {
            if (userScore > computerScore) {
                var model = new Object();
                model.UserId = '@us.UserId';
                model.Score = userScore;
                jQuery.ajax({
                    type: "POST",
                    url: "@Url.Action("Update4")",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify({ std: model }),
                    success: function (data) {
                        alert(data);
                    },
                    failure: function (errMsg) {
                        alert(errMsg);
                    }
                });
            }
            else
                alert('You Lost..');
            return false;
            }
        main();


    </script>
</body>
</html>
